body{
      background:#f5f5f5;
    }
    .tab-btn{
      border:none;
      background:#eaeaea;
      padding:8px 25px;
      border-radius:20px;
      font-weight:400;
      cursor:pointer;
    }
    .active-tab{
      background:#fff;
      box-shadow:0 2px 8px rgba(0,0,0,0.1);
    }
    .form-box{
      background:#fff;
      border-radius:20px;
      padding:30px;
      box-shadow:0 2px 10px rgba(0,0,0,0.1);
      max-width:400px;
      /* max-height: 400px; */
      margin:auto;
    }
    .btn {
        background-color: #8bd7f0;
        border: none;
        color: black;
        font-size: 1.1rem;
        font-weight: 500;
        
    }
    .form-control:focus {
    border-color: #8bd7f0;    
    box-shadow: none;
    /* border: 2px 2px 2px 2px solid #8bd7f0;            */
}

.step {
    margin: 1rem;
    /* padding: 1rem; */
}

.btn:hover {
    /* color: red; */
    background-color: #8bd7f0;
}
 
/* document verification ke liye */
.step { display: none; }
.step.active { display: block; }


/* add login page */






