 body {
    font-family: 'Roboto', sans-serif;
    
    
}

.navbar-nav li {
    padding-left: 3rem;
    
}

#navbar{
     background-color: white;
     border-bottom: 1px solid black;
}

#plusicon{
    /* background-color: white; */
    color: black;
}
.iconplus{
    padding-top: 0.5rem;
}
 
.navbar-nav li a {
    color: black;
    font-weight: 400;
    font-size: smaller;
    
}
.navbar-nav li a i {
    color: rgb(29, 1, 1);
    /* padding-right: ; */



}
.navbar-nav li a:hover {
    background-color: #ebe7e7;
    /* box-shadow: 0 0 12px #c5bcbc; */
    border-radius: 6px;
    color: black;
    /* transform: scale(1.02); */
    

    

}

.carousel-inner img {
    /* margin: 1.6rem; */
    /* margin-right: 1rem; */
    padding: 1.5rem;
    height: 630px;
    width: 400px;
    border-radius: 5rem;
     

}
/* .carousel {
    padding: 3rem;
    height: 100px;
    /* width: 800px; */
/* } */ 
/* .innerdiv {
    color: aqua;
    background-color: #EBF5FF;
    height: 40rem;
    /* border: 3px rgb(24, 253, 27) solid; */
    /* padding: ; */
/* } */
/* .carouselimg {
    /* padding-top: 2rem;
    b */
/* } */

/* .carousel-inner {
    /* display: none; */
    /* height: 300px;
    width: 600px;
} */

@media (max-width: 768px) {
  .carousel img {
    height: 300px; /* chhoti height mobile ke liye */
    /* object-fit: cover; */
    /* border-radius: 10px; */
    padding: 1rem;

  }

  .carousel-container {
     margin: 1px;
    border-radius: 10px;
  } 

  .navbar-collapse {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: hsl(0, 0%, 100%); /* white dropdown */
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(13, 13, 13, 0.1);
  
}


}

/* 🔹 Extra small screens - below 480px */
@media (max-width: 480px) {
  .carousel img {
    height: 250px;
    border-radius: 2.5rem;
    

  }
  #carousel-buttons{
    /* background-color: ; */
    position: absolute;
    top: 85%;
    left: 7%;
    display: flex;
    
}
}

#carousel-buttons{
    /* background-color: ; */
    position: absolute;
    top: 85%;
    left: 7%;
    display: flex;
    
}
/* @media (max-width: 768px) {
  #carousel-buttons {
    top: auto;
    bottom: 15px;             /* neeche aayega */
    /* right: 50%;
    transform: translateX(50%);
    /* flex-direction: column;   /* ek ke niche ek button */
    /* align-items: center;
  } */

  /* #carousel-buttons {
    padding: 8px 20px;
    font-size: 14px;
    width: 120px;
  }
} */

/* add button today */
